.header{
    height: $header-height;
    position: fixed;
    width: 100%;
    padding: 0 40px;
    background-color: $main-bg;
    z-index: 10;
    transition: height 0.3s ease;
   
    @include flex(center,space-between);

    &__menuAlt{
        font-size:2.5rem;     
        cursor: pointer;
        display: none;   
        
        @include tablet{
            display: block;
        }
        @include mobile {
            margin-left: -20px;
        }
  
    }

    &.shrink{
        height: 80px;
        box-shadow: $box-shadow;
        z-index: 11;
    }
    &__menu{
        @include flex(center,unset);
        font-size: 1.5rem;

        &__item{
            padding-right: 25px;
        }   
        
        &__item.active {
            font-weight: 700;
            color: $main-color;
        }
        &__chevron{
            display: none;
            cursor: pointer;  
        }

        @include tablet{         
          border-radius: 8px;  
          box-shadow: 0.2px 0px 0px 0.2px #8888 ;     
          flex-direction: column;
          padding-top: 15px ;
          position: relative;  
          z-index: 11;        
          background-color: $main-bg;
          top:100px;
          left:-36%;
          min-height: 300px;
          min-width: 250px;
          transform: translateX(-100%);
          transition: transform 0.3s ease ; 
          
          &__chevron{
            display: block;
            position: absolute;
            left: 50px;
            top: 32px;
            font-size: 2.25rem;  
            cursor: pointer;       
          }

          &__item{           
              padding: 20px 0px;     
          }

          &.active{
            opacity: 1;
            transform: translateX(0%);            
          }

        }
    }


    &__logo{    
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img{       
            height: 28px;
            z-index: 11;
            
        @include mobile {
            height: 24px;
        }
        }
    }

    &__icon{
        @include flex(center,unset);
        font-size: 2.25rem; 

        @include mobile {
            margin-left: -40px;
            font-size: 2rem; 
            
        }

        &__search{
            padding-right: 25px; 
            @include mobile {
                padding-right: 10px;   
            }       
        }

        &__cart{
            padding-right: 25px;  
            @include mobile {
            padding-right: 10px;   
            }          
        }
        
    }
}

