.policycard{
    @include flex(center,space-around);
    padding: 20px;
    box-shadow: $box-shadow;
    transition: transform 0.5s ease;

    &:hover {
        transform: translateY(-30%);
        color: $main-color;           
    }

    &__icon{
        font-size: 3rem;
        color: $main-color;
    }
    &__info{

        &__name{
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 10px;
        }
        &__description{
            font-size: 1rem;
            color: $txt-second-color;
        }
    }

}