.content{
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
    margin-bottom: 50px; 
    position: relative;
    padding: 0px 40px;

    &__item{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        @include flex(center, space-between);

        @include tablet{                  
            flex-direction: column-reverse;  
            position: absolute; 
        }

        &.active{
            visibility: visible;
            opacity: 1;
        }
        &__info{          
            max-width: 60%;

            @include tablet{
                max-width: 100%;
            }
            @include mobile{
                margin-top: -10px;
            }
                        
            &__title,
            &__description{
                margin-bottom: 50px;

            }
            &__title{
                font-family: "M PLUS Rounded 1c", sans-serif;
                font-weight: 600;
                font-size: 4.5rem;
                line-height: 6.75rem;

                @include tablet {
                    margin-top: 10px;                 
                  }
                @include mobile {
                    font-size: 2.25rem;
                    margin-top: -20px;
                    line-height: 3rem;  
                }
             
            }
            &__description{
                color: $txt-second-color;
                font-size: 1.5rem;
                line-height: 2.25rem;

                @include tablet {
                    margin-top: -40px;
                    text-align: justify;
                    padding-right: 40px;
                  }
                @include mobile {           
                    margin-top: -40px;
                    font-size: 1rem;                          
                    margin-bottom: 30px;
                }
            }

            &__btn{
                
                @include tablet {
                    margin-top: -10px;            
                  }
                @include mobile {
                   
                }

            }
        }
        &__image{
            flex-grow: 1;
            position: relative;
            height: 100%;
            z-index: 10;           
            pointer-events: none;
            height: 100vh; 

            @include tablet{              
                width: 100%;  
                height: 55vh;
               
            }

            img {
                position: absolute;
                height: 100vh; 
                right: 10%; 

                @include tablet{
                    padding-top: 70px;
                    top:$header-tablet-height;                 
                    height: 60vh; 
                    left:50%;
                    top:50%;
                    transform: translateX(-50%) translateY(-50%);                      
                } 
                @include mobile {
                    height: 50vh;
                    margin-top: -20px;
                }           
            }
        }      
    }

    &__control{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: -35px;
        @include flex (unset,center);

        @include mobile {
          
           margin-bottom: -60px;
        }
        &__item{
            font-size: 2rem;
            cursor: pointer;     
            .index{
                font-size: 1.5rem;  
                margin: 0px 3px;          
            }
        }
    }
}